<div class="table-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" multiTemplateDataRows>
        <ng-container *ngFor ="let col of fetchedColumns" [matColumnDef]="col.name">
            <mat-header-cell *matHeaderCellDef>{{col.title}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div>{{row[col.name]}}</div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="visibleColumnsList"></mat-header-row>
        <mat-row *matRowDef="let row; columns:visibleColumnsList;"></mat-row>
    </mat-table>
</div>